// 
// pg_general.scss
//

//HTML
//_tables.scss : Custom table components (Custom)
// _card.scss : Custom card border
// _type.scss : Font weight (Custom)
// hr setting
// border setting
// structure setting
// form input width setting
// text setting
// background setting
// menu setting
// site listing
// cursor
// dashboard settings
// calendar
// popover
// images, avatar
// alignment
// btn
// marquee
// summernote
// dropzone
// datatable horizontal scrolling
// visitor
// copy link (share link)
// badge & color box and circle 
// animation
// progress bar
// facility
// button
// notification
// icon
// rotated ribbon
// Toggle icon to change access status
// entry log or LPR thumbnail popup
// fixed to top button
// Slider in Task
// Limit File Name Length (photo attached)
// flex container
/* hide and show accordion content in the datatable */
// add new row in Datatable (Sinking Fund)


/**************  **************/ 

// HTML (anchor link)
html {
    scroll-padding-top: 130px !important; /* to fix anchor links leads to the correct position as there's sticky/fixed header on the page */
    scroll-behavior: smooth;
}
.card.highlight-anchor {
    transition: background-color 2s ease;
}
.highlight {
    animation: highlight 8s ease forwards;
}
.highlighted {
    background-color: rgb(255, 255, 223);
}
@keyframes highlight {
    0% {
        background-color: rgb(255, 255, 223);
        border: 4px solid rgba(255, 204, 129, 0.3);
    }
    100% {
        background-color: rgb(255, 255, 223);
    }
}

// _tables.scss : Custom table components (Custom)
.table {
    td.align-right {
        text-align: right;
    }
    th.align-right {
        text-align: right;
    }
}

table.dataTable {
    border-bottom: 1px solid #ededed;
}
.table td, .table th{
    border-top: 1px solid #ededed
}
.table thead th {
    border-bottom: 2px solid #ededed
}
table td {
    vertical-align: middle !important;
}
table td.vertical-align-top {
    vertical-align: top !important;
}
.table td.no-border, .table th.no-border{
    border: 0px;
}
.table-tr-danger {
    color: #ff5c75 !important;
    background-color: #ffffff !important;
}
.table-tr-danger:hover {
    color: #ff5c75 !important;
    background-color: #f5f5f5 !important;
    cursor: default !important;
}
.fixed-col-100 {
    width: 100px; /* Set your desired fixed width */
    word-wrap: break-word; 
    white-space: normal;  /* Allow wrapping */
}
.fixed-col-150 {
    width: 150px; /* Set your desired fixed width */
    word-wrap: break-word; 
    white-space: normal;  /* Allow wrapping */
}


// _card.scss : Custom card border 
.card.border-gray-200,
.border-gray-200 {
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
}
.card.border-gray-light,
.border-gray-light {
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
}
.card.border-gray-lighter,
.border-gray-lighter {
    border: 1px solid #f5f5f5;
    border-radius: 0.25rem;
}
.card.border-propertygaga-lighter,
.border-propertygaga-lighter {
    border: 1px solid #d6e0fd;
    border-radius: 0.25rem;
}
.card.border-propertygaga-lightest,
.border-propertygaga-lightest {
    border: 1px solid #f2f6ff;
    border-radius: 0.25rem;
}
.card.border-propertygaga,
.border-propertygaga {
    border: 1px solid #1967ca;
    //border: 1px solid #415baa;
    border-radius: 0.25rem;
}
.card.border-pinklight,
.border-pinklight {
    border: 1px solid #eb2c93;
    border-radius: 0.25rem;
}



// _type.scss : Font weight (Custom)
.font-weight-bold,
.bold {
    font-weight: $font-weight-bold;
}
.semibold {
    font-weight: $font-weight-semibold;
}



// hr setting
hr.solid-gray400 {
	border-style: solid;
    border-color: $gray-400;
}

// border setting
.border-bottom {
    border-bottom: 1px solid #e4e9f3 !important;
}
.border-bottom-gray200 {
    border-bottom: 1px solid $gray-200 !important;
}
.border-top-gray200 {
    border-top: 1px solid $gray-200 !important;
}
.border-bottom-gray300 {
    border-bottom: 1px solid $gray-300 !important;
}
.border-top-gray300 {
    border-top: 1px solid $gray-300 !important;
}

.border-bottom-gray400 {
    border-bottom: 1px solid $gray-400 !important;
}

.border-bottom-gray500 {
    border-bottom: 1px solid $gray-500 !important;
}

.border-bottom-gray600 {
    border-bottom: 1px solid $gray-600 !important;
}

.border-bottom-gray700 {
    border-bottom: 1px solid $gray-700 !important;
}

.border-top-gray300 {
    border-top: 1px solid $gray-300 !important;
}
.border-top-gray400 {
    border-top: 1px solid $gray-400 !important;
}

.border-top-gray500 {
    border-top: 1px solid $gray-500 !important;
}

.border-top-gray600 {
    border-top: 1px solid $gray-600 !important;
}

.border-top-gray700 {
    border-top: 1px solid $gray-700 !important;
}

.border-gray400 {
    border: 1px solid $gray-400 !important;
}

.border-grayform {
    border: 1px solid #e2e7f1 !important;
}

.border-left-gray400 {
    border-left: 5px solid $gray-400 !important;
}

.border-danger {
    border: 1px solid #ff5c75 !important;
}
.border-thick3px {
    border-width: 3px !important;
    box-shadow: 0px 0px 10px $gray-400;
}

.no-border {
    border: 0px !important;
}

// structure setting
.full-width {
    width: 100% !important;
}
.half-width {
    width: 50% !important;
}
.well {
    border-radius: 5px;
}
.well.well-lg,
.well.well-lg .row {
    padding: 10px;
}
.well.well-md,
.well.well-md .row {
    padding: 5px;
}
.well.well-sm,
.well.well-sm .row {
    padding: 3px;
}
.margin-auto {
    margin: 0 auto;
}

@media (max-width: 520px) {
    .half-width {
        width: 100% !important;
    }
}

// Fixed bottom
#FixedBottomDiv {
    margin: auto;
    position: fixed;
    margin: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    -webkit-box-shadow: 0.10rem 0 0.5rem rgba(75,75,90,.15);
    box-shadow: 0.10rem 0 0.5rem rgba(75,75,90,.15);
  }
  
  #FixedBottomDivInner {
    width: 100%;
    padding: 15px 20px;
  }
  
  #FixedBottomDivInnerBelow {
    text-align: center;
  } 


// form input width setting
input[type=text].pixel50 {
    width: 50px;
}
input[type=text].pixel60 {
    width: 60px;
}
input[type=text].pixel70 {
    width: 70px;
}
input[type=text].pixel100 {
    width: 100px;
}
input[type=text].pixel110 {
    width: 110px;
}
input[type=text].pixel120 {
    width: 120px;
}
input[type=text].pixel130 {
    width: 130px;
}
input[type=text].pixel150 {
    width: 150px;
}
input[type=text].pixel200 {
    width: 200px;
}
.form-control:disabled {
    background-color: #eeeeee;
}
input[type=text].dashedborder {
    border:1px dashed #ccc;
}
input[type=text].border-black {
    border:1px solid #000;
}
input[type=text].border-333 {
    border:1px solid #333;
}
input[type=text].border-666 {
    border:1px solid #666;
}
input[type=text].border-ccc {
    border:1px solid #ccc;
}
input[type=text].noborder, input[type=date].noborder, select.noborder {
    border:none !important;
}
.noborder [class^='select2'] {
    border: none !important;
}
.form-group.select-width-200 {
    max-width: 200px;
    word-wrap: break-word !important;
}
.form-group.select-width-300 {
    max-width: 300px;
    word-wrap: break-word !important;
}


// text setting
.text-color-propertygaga {
    color: #1967ca !important;
    //color: #415baa !important;
}
.text-color-black {
    color: black
}
.text-color-redBright {
    color: #f8010b
}
.text-color-redDark {
    color: #980005
}
.text-color-greenBright {
    color: #00b872
}
.text-color-gray {
    color: #858584
}
.text-color-lightgray {
    color: #bbbbb7
}
.text-color-grayDarker {
    color: #676767
}
.text-color-pinkDark {
    color: #eb2c93
}
.text-color-white {
    color: #fff !important;
}
.text-color-orangeDark {
    color: #e96c19
}
.text-color-archive {
    color: #999999;
}
.text-color-yellow {
    color: #ffbb00;
}
.font-xl {
    font-size: 200%;
}
.font-lg {
    font-size: 150%;
}
.font-md {
    font-size: 120%;
}
.font-sm {
    font-size: 80%;
}
.font-xs {
    font-size: 60%;
}
.font-xxs {
    font-size: 40%;
}
.font-uppercase {
    text-transform: uppercase;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000;
}
.no-underline{
    text-decoration: none !important;
}
.underline {
    text-decoration: underline !important;
}
a.text-color-black {
    color: #000;
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.
  
    @include hover() {
      color: darken(#888, 15%);
      text-decoration: $link-hover-decoration;
    }
  }
a.text-color-lightgray {
color: #bbbbb7;
text-decoration: $link-decoration;
background-color: transparent; // Remove the gray background on active links in IE 10.

@include hover() {
    color: darken(#bbbbb7, 15%);
    text-decoration: $link-hover-decoration;
}
}

a.text-color-primary {
    color: $primary;
    padding: 0.6em 1em !important;
    margin: 0 0 1px 0;
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.
    
    @include hover() {
        color: $dark;
        padding: 0.6em 1em;
        margin: 0 0 1px 0;
        font-weight: 600;
        text-decoration: $link-hover-decoration;
        background-color: #ebf6ff;
    }
}
    a.text-color-primary-active {
        color: $dark;
        padding: 0.6em 1em;
        margin: 0 0 4px 0;
        font-weight: 600;
        text-decoration: $link-hover-decoration;
        background-color: #ebf6ff;
    }

.text-shadow-black {
    text-shadow: 1px 1px #000;
}
.text-shadow-white {
    text-shadow: 1px 1px #fff;
}

.line-height-1dot6 {
    line-height: 1.6em;
}
.line-height-1dot8 {
    line-height: 1.8em;
}
.line-height-2 {
    line-height: 2em;
}
.strikethrough {
    text-decoration: line-through;
}
.watermark-slant {
    position:absolute;
    font-weight: bold;
    text-align: center;
    left: 30%;
    right: 30%;
    z-index: 999;
    color: red;
    opacity: 0.8;
    font-size: 2.4em;
    line-height: 0.8;
    transform: rotate(-15deg);
    
}

// background setting
.bg-color-white {
    background-color: #fff !important;
}
.bg-color-gray {
    background-color: gray !important;
}
.bg-color-grayLight {
    background-color: #efefef !important;
}
.bg-color-grayLighter {
    background-color: #fafafa !important;
}
.bg-color-greenBright {
    background-color: #00b872 !important;
}
.bg-color-propertygaga {
    background-color: #1967ca !important;
    //background-color: #415baa !important;
}
.bg-color-propertygagaLight {
    background-color: #b4d9fb !important;
    //background-color: #b4c6fb !important;
}
.bg-color-propertygagaLighter {
    background-color: #d6f7fd !important;
    //background-color: #d6e0fd !important;
    
}
.bg-color-propertygagaLightest {
    background-color: #f2faff !important;
    //background-color: #f2f6ff !important;
}
.bg-color-lightred {
    background-color: #ffd3d3 !important;
}
.bg-color-lighterred {
    background-color: #fff5f5 !important;
}
.bg-color-lighterred:hover {
    background-color: #fee8e8 !important;
}
.bg-color-lightgreen {
    background-color: #c7ffb6 !important;
}
.bg-color-lightergreen {
    background-color: #cbffbc !important;
}

.rounded-5 {
    border-radius: 5px;
}
.rounded-10 {
    border-radius: 10px;
}
.bg-signup {
    padding: 0;
    background-image: url('../images/propertygaga/gra-check.svg');
    background-repeat: no-repeat;
    background-size: 70% !important;
    background-position:  bottom 45% left 10%;
    position: relative;
}
.bg-linear-gradient-bluetone {
    background-image: linear-gradient(to right, rgb(247, 254, 255) ,  rgb(235, 240, 215) , rgb(165, 196, 241));
}
.bg-superadmin-1 {
    padding: 0;
    background-image: linear-gradient(to top, rgb(247, 254, 255) ,  rgb(218, 253, 255) , rgb(215, 229, 246));
    // background-image: url('../images/propertygaga/gra-bg-pinkpurplepatch.jpg');
    background-repeat: no-repeat;
    background-size: 100% !important;
    background-position:  bottom 0% left 0%;
    position: relative;
}
.bg-linear-gradient-greentone {
    background-image: linear-gradient(to right, rgb(247, 254, 255) ,  rgb(235, 240, 215) , rgb(165, 241, 233));
}


// accordion setting
.custom-accordionwitharrow {
    margin-top: 10px;
}
.custom-accordionwitharrow .card .card-header {
    background-color: #ecf0f3;
}
.custom-accordionwitharrow .card .card-header:hover {
    background-color: #e0e7eb !important;
}
.card-header {
    padding: .55rem 1.25rem !important;
}

// menu setting
span.notify-item:hover {
    background-color: #fff;

}
.propertyname-header {
    color: #415caa;
    font-size: 22px;
    font-weight: 600;
    text-transform:  uppercase;
    height: 1em;
    line-height: 1em;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #e7e6e6 !important;
}

@media (max-width: 991.98px) {
    .propertyname-header {
        font-size: 18px;
    }
}

@media (max-width: 767.98px) {
    .propertyname-header {
        font-size: 18px;
    }
}

@media (max-width: 575.98px) {
    .propertyname-header {
        font-size: 18px;
    }
}

@media (max-width: 520px) {
    .propertyname-header {
        font-size: 16px;
    }
}


// building management
.slideout .caption {
    display: block;
    padding: 10px;
    color: #000;
 }
 .slideout img.condo {
    border-radius: 5px;
    width: 95%;
}

// site listing new

.profile-widget .card-img-top {
    max-height: fit-content !important;
}

.site-list-container {
    position: relative;    
}
.site-list-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.site-list-img-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.site-list-container:hover .site-list-img {
    opacity: 0.2;
  }
  
  .site-list-container:hover .site-list-img-middle {
    opacity: 1;
  }

// site listing
// #manson-list {
//     width: 100%;
//     overflow: hidden;
//     margin-top: 1.5em;
//     margin-bottom: -1.875em;
//     -webkit-column-count: 4;
//     -webkit-column-gap: 1.875em;
//     -webkit-column-fill: auto;
//     -moz-column-count: 4;
//     -moz-column-gap: 1.875em;
//     -moz-column-fill: auto;
//     column-count: 4;
//     column-gap: 1.875em;
//     column-fill: auto;
// }

// .manson-item {
//     background-color: #d2d2d3;
//     margin-bottom: 1.875em;
//     -webkit-column-break-inside: avoid;
//     -moz-column-break-inside: avoid;
//     column-break-inside: avoid;
//     border-radius: 10px;
// }

// .manson-item:hover {
//     opacity: 0.9;
//     background-color: #c2c2c3;
// }

// .manson-item img.condo {
//     border-radius: 0;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
// }

// .manson-item .caption {
//    display: block;
//    padding: 10px;
//    color: #000;
// }

// .manson-item .caption:hover {
//     color: #000;
//     opacity: 1 !important;
// }
// @media (max-width: 991.98px) {
//     #manson-list {
//         width: 100%;
//         overflow: hidden;
//         margin-bottom: -1.875em;
//         -webkit-column-count: 3;
//         -webkit-column-gap: 1.875em;
//         -webkit-column-fill: auto;
//         -moz-column-count: 3;
//         -moz-column-gap: 1.875em;
//         -moz-column-fill: auto;
//         column-count: 3;
//         column-gap: 1.875em;
//         column-fill: auto;
//     }
//     .manson-item {
//         margin-bottom: 1.875em;
//     }
// }

// @media (max-width: 767.98px) {
//     #manson-list {
//         width: 100%;
//         overflow: hidden;
//         margin-bottom: -1.875em;
//         -webkit-column-count: 2;
//         -webkit-column-gap: 1.875em;
//         -webkit-column-fill: auto;
//         -moz-column-count: 2;
//         -moz-column-gap: 1.875em;
//         -moz-column-fill: auto;
//         column-count: 2;
//         column-gap: 1.875em;
//         column-fill: auto;
//     }
//     .manson-item {
//         margin-bottom: 1.875em;
//     }
// }

// @media (max-width: 575.98px) {
//     #manson-list {
//         width: 100%;
//         overflow: hidden;
//         margin-bottom: -1.875em;
//         -webkit-column-count: 2;
//         -webkit-column-gap: 1.875em;
//         -webkit-column-fill: auto;
//         -moz-column-count: 2;
//         -moz-column-gap: 1.875em;
//         -moz-column-fill: auto;
//         column-count: 2;
//         column-gap: 1.875em;
//         column-fill: auto;
//     }
//     .manson-item {
//         margin-bottom: 1.875em;
//     }
// }

// @media (max-width: 520px) {
//     #manson-list {
//         width: 100%;
//         overflow: hidden;
//         margin-bottom: -1.875em;
//         -webkit-column-count: 2;
//         -webkit-column-gap: 1.875em;
//         -webkit-column-fill: auto;
//         -moz-column-count: 2;
//         -moz-column-gap: 1.875em;
//         -moz-column-fill: auto;
//         column-count: 2;
//         column-gap: 1.875em;
//         column-fill: auto;
//     }
//     .manson-item {
//         margin-bottom: 1.875em;
//     }
// }


// cursor
.cursor-default {
    cursor: default;
}
.cursor-pointer {
    cursor: pointer;
}


// dashboard settings
.dashboard-box {
   /* overflow-y: scroll;
    max-height: 500px;
    height: 500px;
    width: 29.3rem !important; */
    width: 100% !important;
}

// calendar
a.fc-more {
    color: #ff6600;
    font-weight: bold;
    font-size: 1.05em;
}

.fc-list-item {
    color: #000;
}

.board {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
//    display: flex !important;
//   flex-wrap: wrap !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
}
.tasks.calendardiv:first-child {
    background-color:  rgba(23, 100, 200, 0.9);
    color: #fff !important;

    .task-header {
        background-color: transparent !important;
        color: #fff !important;
        font-size: 0.9rem;
    }
    
}
.tasks.calendardiv:first-child .task-list-items {
    h6 a {
        color: #fff;
    }
    h6 a:hover {
        font-weight: 500;
    }
}

.tasks.calendardiv {
    display: flex;
    flex-direction: column;
    // display: inline-block;
    width: 13rem !important;
    padding: 0 1rem 1rem 1rem;
    vertical-align: top;
    margin-bottom: $grid-gutter-width;
    background-color: rgba(23, 100, 200, 0.1);
    @include border-radius($border-radius-sm);

    .task-header {
        background-color: transparent;
        padding: 1rem;
        margin: 0 -1rem;
        @include border-radius($border-radius-sm);
        font-size: 0.9rem;
    }

    &.tasks:not(:last-child) {
        margin-right: 1.25rem;
    }

    .card {
        background-color: transparent;
        white-space: normal;
        margin-top: 1rem;
    }
}
.tasks.calendardiv .task-list-items {
    min-height: 25px;
    position: relative;

    .card {
        cursor: pointer;
        -webkit-box-shadow: 0;
        box-shadow: none;
        margin: 0 !important;
    }

    .card .card-body {
        padding-top: 0.3em !important;
        padding-bottom: 0.4em !important;
    }

    h6 a:hover {
        font-weight: 500;
    }

    &:before {
        content:none !important;
        position: absolute;
        line-height: 110px;
        width: 100%;
        text-align: center;
        font-weight: 600;
    }
}

// popover
.popover {
    background-color: #222;
}
.popover-body {
    color: #fff;
}
.bs-popover-auto[x-placement^=top]>.arrow::after, .bs-popover-top>.arrow::after {
    border-top-color: #222;
}

// images, avatar
.responsiveimg{
    max-width:100% !important;
    height:auto !important;
}
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
.avatar-xxs {
    height: 1rem;
    width: 1rem;
}
.hover-highlight:hover {
    opacity: 0.8;
}
.hover-highlight-50:hover {
    opacity: 0.5;
}
.grayscale-opacity {
    filter: grayscale(100%);
    opacity: 0.2;
}


// alignment
.f-right {
    float: right;
}
.f-left {
    float: left;
}
.float-goto {
	position:fixed;
	width:40px !important;
	height:40px;
	top:150px;
	right:40px !important;
    z-index: 1;
}
.paddingtop-2 {
    padding-top: 2px !important;

}
.paddingbottom-2 {
    padding-bottom: 2px;

}
.paddingright-2 {
    padding-right: 2px;

}
.paddingleft-2 {
    padding-left: 2px;

}
.paddingtop-3 {
    padding-top: 3px !important;

}
.paddingbottom-3 {
    padding-bottom: 3px;

}
.paddingright-3 {
    padding-right: 3px;

}
.paddingleft-3 {
    padding-left: 3px;

}
.paddingtop-4 {
    padding-top: 4px !important;

}
.paddingbottom-4 {
    padding-bottom: 4px;

}
.paddingright-4 {
    padding-right: 4px;

}
.paddingleft-4 {
    padding-left: 4px;

}
.paddingtop-5 {
    padding-top: 5px !important;

}
.paddingbottom-5 {
    padding-bottom: 5px;

}
.paddingright-5 {
    padding-right: 5px;

}
.paddingleft-5 {
    padding-left: 5px;

}

//btn

// .btn {
//     margin-bottom: 6px;
// }

//tab
#pills-quotation, #pills-committee {
    min-height: 400px;
}

/* summernote */

.note-editable {
    min-height: 400px !important;
}

/* dropzone */
.dropzone {
    border: 0px dashed rgba(52,58,64,.2) !important;
    padding: 10px 20px 0;
}

.dropzone .dz-message {
    margin: 0 0;
}


/* datatable horizontal scrolling */
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

/* visitor */
.visitor-bg1 {
    padding: 0;
    background-image: url('../images/pgg-webimg/visitorregister.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    border-radius: 5px;
}

.visitor-bg2 {
    padding: 0;
    background-image: url('../images/pgg-webimg/visitorregister2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    border-radius: 5px;
}

/* copy link */
.sharelink .copylink-input {
    padding-left: 0px;
    z-index: 10;
}


/* fix column */
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

/* Badge & color box and circle */
.badge-alert {
    color: #fff;
    background-color: #ff6d0b; }
    a.badge-alert:hover, a.badge-alert:focus {
      color: #fff;
      background-color: #d35b0b; }
    a.badge-alert:focus, a.badge-alert.focus {
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.15rem rgba(255, 190, 11, 0.5);
              box-shadow: 0 0 0 0.15rem rgba(255, 190, 11, 0.5); }

.circle-primary {
    height: 15px;
    width: 15px;
    background-color: #1967ca;
    border-radius: 50%;
    display: inline-block;
}
.square-primary {
    height: 10px;
    width: 10px;
    background-color: #1967ca;
    display: inline-block;
}
.square-green {
    height: 10px;
    width: 10px;
    background-color: #3cdaa0;
    display: inline-block;
}
.square-yellow {
    height: 10px;
    width: 10px;
    background-color: #f6c86e;
    display: inline-block;
}
.square-orange {
    height: 10px;
    width: 10px;
    background-color: #ff701a;
    display: inline-block;
}
.square-purple {
    height: 10px;
    width: 10px;
    background-color: #6e84f6;
    display: inline-block;
}

/* Animation */
.noti-icon-update {
    display: inline-block;
    position: static;
    // top: -30px;
    margin-left: -10px;
    width: 12px;
    height: 12px;
    background-color: #ff5c75;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    // -webkit-animation: blinker 2s linear infinite;
    // animation: blinker 2s linear infinite;
    // -webkit-animation-fill-mode: initial;
    // animation-fill-mode: initial;
    // z-index: 1;
 }
 .animate-blinker1s {
    -webkit-animation: blinker 1s linear infinite;
    animation: blinker 1s linear infinite;
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: initial;
 }
 .animate-blinker2s {
    -webkit-animation: blinker 2s linear infinite;
    animation: blinker 2s linear infinite;
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: initial;
 }

 
// progress bar
.progress.recon {
    background-color: #c2dbe9 !important;
}

  
// facility
.facility-list-container {
    position: relative;
}
.facility-list-img {
    opacity: 1;
    display: block;
    margin: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.facility-list-img-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.facility-list-container:hover .facility-list-img {
    opacity: 0.2;
  }
.facility-list-container:hover .facility-list-img-middle {
    opacity: 1;
}

//button

/* widget previous and next button */
 .sw-btn-prev,  .sw-btn-next {
    border-radius: 20px;
    margin: 0 0 10px;
 }

 // notification
 .noti-scroll {
    max-height: 400px !important;
    width: 400px !important;
 }
.notification-list .notify-item .notify-icon {
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
    font-size: 14px;
}
.notification-list .notify-item .notify-details {
   white-space: normal !important;
}

// icon
.icon-online {
    display: inline-block;
    position: static;
    height: 8px !important;
    width: 8px !important;
    border-radius: 50%;
    line-height: 0.8;
    margin-right: 10px;
    background-color: rgb(0, 205, 0);
}
.icon-offline {
    display: inline-block;
    position: static;
    height: 8px !important;
    width: 8px !important;
    border-radius: 50%;
    line-height: 0.8;
    margin-right: 10px;
    background-color: rgb(172, 172, 172);
}

// rotated ribbon

.ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    // border: 5px solid #12669e;
  }
  .ribbon-primary::before,
  .ribbon-primary::after {
    border: 5px solid #12669e;
  }
  .ribbon-success::before,
  .ribbon-success::after {
    border: 5px solid #29c38a;
  }
  .ribbon-warning::before,
  .ribbon-warning::after {
    border: 5px solid #ffbe0b;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 204px;
    padding: 5px 0;
    background-color: rgba(23, 100, 200, 0.8);
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    color: #fff;
    font: 700 13px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  .ribbon-primary span {
    background-color: rgba(23, 100, 200, 0.8);
    color: #fff;
  }
  .ribbon-success span {
    background-color: rgba(41, 195, 138, 0.8);
    color: #fff;
  }
  .ribbon-warning span {
    background-color: rgba(255, 190, 11, 0.8);
    color: #222;
  }
  
  /* top left*/
  .ribbon-top-left {
    top: -5px;
    left: -5px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 22px;
  }
  .ribbon-top-left::after {
    bottom: 22px;
    left: 0px;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 25px;
    transform: rotate(-45deg);
  }


  // MultiSelect

  .multi-select {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    width: 100%;
    user-select: none;
    }
    .multi-select .multi-select-header {
    border: 1px solid #dee2e6;
    padding: 5px 30px 5px 12px;
    overflow: hidden;
    gap: 7px;
    min-height: 40px;
    }
    .multi-select .multi-select-header::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23949ba3' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    height: 12px;
    width: 12px;
    }
    .multi-select .multi-select-header.multi-select-header-active {
    border-color: #c1c9d0;
    }
    .multi-select .multi-select-header.multi-select-header-active::after {
    transform: translateY(-50%) rotate(180deg);
    }
    .multi-select .multi-select-header.multi-select-header-active + .multi-select-options {
    display: flex;
    }
    .multi-select .multi-select-header .multi-select-header-placeholder {
    color: #65727e;
    }
    .multi-select .multi-select-header .multi-select-header-option {
    display: inline-flex;
    align-items: center;
    background-color: #f3f4f7;
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 5px;
    }
    .multi-select .multi-select-header .multi-select-header-max {
    font-size: 14px;
    color: #65727e;
    }
    .multi-select .multi-select-options {
    display: none;
    box-sizing: border-box;
    flex-flow: wrap;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    margin-top: 5px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    }
    .multi-select .multi-select-options::-webkit-scrollbar {
    width: 5px;
    }
    .multi-select .multi-select-options::-webkit-scrollbar-track {
    background: #f0f1f3;
    }
    .multi-select .multi-select-options::-webkit-scrollbar-thumb {
    background: #cdcfd1;
    }
    .multi-select .multi-select-options::-webkit-scrollbar-thumb:hover {
    background: #b2b6b9;
    }
    .multi-select .multi-select-options .multi-select-option, .multi-select .multi-select-options .multi-select-all {
    padding: 4px 12px;
    height: 42px;
    }
    .multi-select .multi-select-options .multi-select-option .multi-select-option-radio, .multi-select .multi-select-options .multi-select-all .multi-select-option-radio {
    margin-right: 14px;
    height: 16px;
    width: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    }
    .multi-select .multi-select-options .multi-select-option .multi-select-option-text, .multi-select .multi-select-options .multi-select-all .multi-select-option-text {
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
    }
    .multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio, .multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio {
    border-color: #40c979;
    background-color: #40c979;
    }
    .multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio::after, .multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio::after {
    content: "";
    display: block;
    width: 3px;
    height: 7px;
    margin: 0.12em 0 0 0.27em;
    border: solid #fff;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    }
    .multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-text, .multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-text {
    color: #40c979;
    }
    .multi-select .multi-select-options .multi-select-option:hover, .multi-select .multi-select-options .multi-select-option:active, .multi-select .multi-select-options .multi-select-all:hover, .multi-select .multi-select-options .multi-select-all:active {
    background-color: #f3f4f7;
    }
    .multi-select .multi-select-options .multi-select-all {
    border-bottom: 1px solid #f1f3f5;
    border-radius: 0;
    }
    .multi-select .multi-select-options .multi-select-search {
    padding: 7px 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px 10px 5px 10px;
    width: 100%;
    outline: none;
    font-size: 14px;
    }
    .multi-select .multi-select-options .multi-select-search::placeholder {
    color: #b2b5b9;
    }
    .multi-select .multi-select-header, .multi-select .multi-select-option, .multi-select .multi-select-all {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #212529;
    }


// Toggle icon to change access status
 
/* Hide the checkbox */
.icon-toggle input {
    display: none;
}

/* Style for the icon toggle */
.icon-toggle {
    cursor: pointer;
    display: inline-block;
}

/* Default icon (Activated) */
.icon-toggle .default-icon {
    display: inline-block;
}

/* Active icon (Deactivated) */
.icon-toggle .active-icon {
    display: none;
}

/* Change to active icon on hover */
.icon-toggle:hover .default-icon {
    display: none;
}

.icon-toggle:hover .active-icon {
    display: inline-block;
}


// entry log or LPR thumbnail popup
/* Thumbnail Styling */
.thumbnail-access {
    width: 150px; /* Small thumbnail size */
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.2s;
}
.thumbnail-access:hover {
    transform: scale(1.1);
}

/* Popup Modal Styling */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999 !important;
}
.popup-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}
.popup-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    background: transparent;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
}


/* fixed to top button */
@media (max-width: 768px) { /* Target mobile screens */
    .fixed-top-button {
        position: fixed;
        top: 90px; /* Distance from the top */
        right: -45px; /* Center the button */
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 1000;
    }

    // .fixed-top-button:hover {
    //     background-color: #0056b3;
    // }
}

/* Slider in Task */
.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}
.slider {
    display: flex;
    width: 200px;
    overflow: hidden;
    position: relative;
}
.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider img {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}
.slider img:hover {
    transform: scale(1.05);
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.popup img {
    width: 80%;
    max-width: 600px;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* Limit File Name Length (photo attached) */
 .file-name {
    display: inline-block;
    max-width: 100px; /* Adjust width as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/* flex container */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
}

.flex-item {
    flex: 1 1 calc(33.33% - 15px); /* 3 columns in large screens */
    text-align: center;
    max-width: 315px; /* Ensures all boxes have the same width */
    padding: 20px;
    border-radius: 8px;
    min-height: 110px; /* Ensuring equal height */
    border: 1px solid #ededed;
    background-color: #fff;;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .flex-item {
        flex: 1 1 100%; /* 1 column on mobile */
        max-width: 100%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .flex-item {
        flex: 1 1 50%; /* 2 columns on iPad */
        max-width: 315px;
    }
}

/* hide and show accordion content in the datatable */
.accordion-content {
    display: none;
    padding: 10px;
    background-color: #fff;
    font-size: 0.9em;
}
.accordion-icon {
    cursor: pointer;
    text-align: center;
    color: #3498db;
}
.accordion-icon:hover {
    color: #2980b9;
}


/* add new row in datatable (sinking fund) */
#addRowLink {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
}