<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">
    <!-- <div class="text-right" style="right: -23px; margin-top: 40px; position:absolute;">
        <button class="btn btn-light btn-sm button-menu-mobile open-left disable-btns border-gray-light pr-1 pl-1 pt-3 pb-3 border-left-0">
            <i class="uil uil-code menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="Expand/collapse Menu"></i>
        </button>
    </div> -->
    <div class="media user-profile mt-2 mb-2">
        <img src="assets/images/users/avatar-7.jpg" class="avatar-sm rounded-circle mr-2" alt="Shreyu" />
        <img src="assets/images/users/avatar-7.jpg" class="avatar-xs rounded-circle mr-2" alt="Shreyu" />

        <div class="media-body">
            <h6 class="pro-user-name mt-0 mb-0">Nik Patel</h6>
            <span class="pro-user-desc">Administrator</span>
        </div>
        <div class="dropdown align-self-center profile-dropdown-menu">
            <a class="dropdown-toggle mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                aria-expanded="false">
                <span data-feather="chevron-down"></span>
            </a>
            <div class="dropdown-menu profile-dropdown">
                <a href="sites.html" class="dropdown-item notify-item">
                    <i data-feather="arrow-right-circle" class="icon-dual icon-xs mr-2"></i>
                    <span>Sites</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="role-settings.html" class="dropdown-item notify-item">
                    <i data-feather="settings" class="icon-dual icon-xs mr-2"></i>
                    <span>Role Settings</span>
                </a>
                <a href="user-listing.html" class="dropdown-item notify-item">
                    <i data-feather="users" class="icon-dual icon-xs mr-2"></i>
                    <span>Users</span>
                </a>
                <a href="staff-allocate.html" class="dropdown-item notify-item">
                    <i data-feather="shuffle" class="icon-dual icon-xs mr-2"></i>
                    <span>Staff Allocation</span>
                </a>
                <a href="login-tracking.html" class="dropdown-item notify-item">
                    <i data-feather="crosshair" class="icon-dual icon-xs mr-2"></i>
                    <span>Login Tracking</span>
                </a>
                <a href="payslip.html" class="dropdown-item notify-item">
                    <i class='uil uil-file-landscape-alt mr-2 text-muted align-middle'></i>
                    <span>Payslip</span>
                </a>
                <a href="hr.html" class="dropdown-item notify-item">
                    <i class='uil uil-user-square mr-2 text-muted align-middle'></i>
                    <span>Human Resource</span>
                </a>
                <a href="blacklist.html" class="dropdown-item notify-item">
                    <i data-feather="user-x" class="icon-dual icon-xs mr-2"></i>
                    <span>Blacklist</span>
                </a>
                <!-- <a href="blacklist-superadminview.html" class="dropdown-item notify-item">
                    <i data-feather="user-x" class="icon-dual icon-xs mr-2"></i>
                    <span>Blacklist <em class="small">(super admin)</em></span>
                </a> -->
                <div class="dropdown-divider"></div>
                <a href="my-account.html" class="dropdown-item notify-item">
                    <i data-feather="user" class="icon-dual icon-xs mr-2"></i>
                    <span>My Account</span>
                </a>
                <a href="login.html" class="dropdown-item notify-item">
                    <i data-feather="log-out" class="icon-dual icon-xs mr-2"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
    
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->