<ul class="metismenu" id="menu-bar">
    <li>
        <a href="superadmin-index.html" class="pl-sm-0">
            <!-- <i data-feather="home"></i> -->
            <span>Dashboard</span>
        </a>
    </li>
    <li class="pl-sm-3">
        <a href="javascript: void(0);">
            <!-- <i class="uil uil-cog"></i> -->
            <span>Admin</span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="superadmin-subscription.html">Subscription</a>
            </li>
            <li>
                <a href="superadmin-blacklist.html">Blacklist</a>
            </li>
            <li>
                <a href="superadmin-reports.html">Reports</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="superadmin-pmc.html">
            <!-- <i class="uil uil-home"></i> -->
            <span>Prop. Mgmt. Co.</span>
        </a>
    </li>
    <!-- <li>
        <a href="superadmin-subscription.html">
            <i class="uil uil-package"></i>
            <span class="badge badge-success float-right"></span>
            <span>Subscription</span>
        </a>
    </li>
    <li>
        <a href="superadmin-blacklist.html">
            <i data-feather="user-x" class="icon-dual"></i>
            <span class="badge badge-success float-right"></span>
            <span>Blacklist</span>
        </a>
    </li>
    <li>
        <a href="superadmin-reports.html">
            <i data-feather="file-text"></i>
            <span class="badge badge-success float-right"></span>
            <span>Reports</span>
        </a>
    </li> -->
    <li>
        <a href="superadmin-vendors.html">
            <!-- <i data-feather="user-x" class="icon-dual"></i> -->
            <span>Vendors</span>
        </a>
    </li>
</ul>