<ul class="metismenu" id="menu-bar">
    <li>
        <a href="superadmin-index.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>
    <li>
        <a href="superadmin-subscription.html">
            <i class="uil uil-package"></i>
            <span class="badge badge-success float-right"></span>
            <span> Subscription </span>
        </a>
    </li>
    <li>
        <a href="superadmin-pmc.html">
            <i class="uil uil-home"></i>
            <span class="badge badge-success float-right"></span>
            <span class="font-sm">Prop. Mgmt. Co. (PMC)</span>
        </a>
    </li>
    <li>
        <a href="superadmin-blacklist.html">
            <i data-feather="user-x" class="icon-dual"></i>
            <span class="badge badge-success float-right"></span>
            <span> Blacklist </span>
        </a>
    </li>
    <li>
        <a href="superadmin-reports.html">
            <i data-feather="file-text"></i>
            <span class="badge badge-success float-right"></span>
            <span> Reports </span>
        </a>
    </li>
</ul>