<ul class="metismenu" id="menu-bar">
    <li class="menu-title">Building Manager</li>
    <li>
        <a href="index.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>
    <li>
        <a href="admin-announcement.html">
            <i data-feather="mic"></i>
            <span class="badge badge-success float-right"></span>
            <span>Announcements</span>
        </a>
    </li>
    <li>
        <a href="calendar.html">
            <i class="uil uil-calender"></i>
            <span class="badge badge-success float-right"></span>
            <span> Calendar </span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="folder" class="icon-dual"></i>
            <span>Data </span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="import-data.html">Import Info</a>
            </li>
            <li>
                <a href="data-units.html">Units</a>
            </li>
            <li>
                <a href="data-occupants.html">Occupants</a>
            </li>
            <!-- <li>
                <a href="data-vehicles.html">Vehicles</a>
            </li> -->
            <li>
                <a href="javascript: void(0);" aria-expanded="false">Vehicles
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-third-level" aria-expanded="false">
                    <li>
                        <a href="data-vehicles-settings.html">Settings</a>
                    </li>
                    <li>
                        <a href="data-vehicles.html">Listing</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="data-accessory-parcel.html">Accessory Parcel</a>
            </li>
            <li>
                <a href="data-committee-committee-list.html">Committees</a>
            </li>
            <li>
                <a href="data-committee-meetings.html">Meetings</a>
            </li>
            <li>
                <a href="data-utility.html">Utility <i class='uil uil-exclamation-octagon text-color-redBright'></i></a>
            </li>
            <li>
                <a href="data-house-rule.html">House Rule</a>
            </li>
            <li>
                <a href="data-service-providers.html">Vendors</a>
            </li>
            <!-- <li>
                <a href="data-inventory.html">Inventory</a>
            </li> -->
        </ul>
    </li>

    <li>
        <a href="agm-egm.html">
            <i class="uil uil-meeting-board"></i>
            <span class="badge badge-success float-right"></span>
            <span>AGM / EGM</span>
        </a>
    </li>
    
    <li>
        <a href="renovation.html">
            <i class="uil uil-paint-tool"></i>
            <span class="badge badge-success float-right"></span>
            <span>Renovation</span>
        </a>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-car-sideview"></i>
            
            <span>Visitor</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="visitorparking-settings-first.html">Visitor Parking Settings</a>
            </li>
            <li>
                <a href="visitor-with-vehicle.html">Visitor (Vehicle)
                </a>
            </li>
            <li>
                <a href="visitor-without-vehicle.html">Visitor (Pedestrian)
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-focus"></i>
            <span>Access</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="access.html">Access Listing</a>
            </li>
            <li>
                <a href="access-lpr.html">License Plate Recognition</a>
            </li>
            <li>
                <a href="access-face-rec.html">Face Recognition</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-car"></i>
            
            <span>Rental Parking</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="rentalparking-settings.html">Rental Parking Settings</a>
            </li>
            <li>
                <a href="rentalparking-listing.html">Rental Parking Listing
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-ball"></i>
            
            <span>Facility Booking</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="facility-settings.html">Facility Settings</a>
            </li>
            <li>
                <a href="facility-booking.html">Facility Booking Listing
                </a>
            </li>
        </ul>
    </li>
    <!-- <li>
        <a href="access.html">
            <i class="uil uil-lock-access"></i>
            <span class="badge badge-success float-right"></span>
            <span>Access Status</span>
        </a>
    </li> -->
    
    <!-- <li>
        <a href="card-listing.html">
            <img src="assets/images/icons/card-gray.svg" class="ml-1 mr-2" style="width: 17px">
            <span class="badge badge-success float-right"></span>
            <span>Access Card</span>
        </a>
    </li> -->
    <!-- <li>
        <a href="javascript: void(0);">
            <img src="assets/images/icons/card-gray.svg" class="ml-1 mr-2" style="width: 17px">
            <span>Access Card</span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="card-listing.html">Card Listing</a>
            </li>
            <li>
                <a href="card-blocking.html">Card Blocking</a>
            </li>
        </ul>
    </li> -->
    <!-- <li>
        <a href="card-blocking.html">
            <img src="assets/images/icons/blockcard-gray.svg" class="ml-1 mr-2" style="width: 17px">
            <span class="badge badge-success float-right"></span>
            <span>Card Blocking</span>
        </a>
    </li> -->

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-sync"></i>
            <span>Recovery <i class="uil uil-lightbulb-alt ml-0 text-color-greenBright font-xs"></i></span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="invoices-recovery-settings.html">Recovery Settings</a>
            </li>
            <li>
                <a href="invoices-notices-reminders.html">Reminder Settings</a>
            </li>
            <li>
                <a href="javascript: void(0);" aria-expanded="false">Defaulter
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-third-level" aria-expanded="false">
                    <li>
                        <a href="recovery-defaulter.html">Defaulter Listing</a>
                    </li>
                    <li>
                        <a href="recovery-access-deactivation.html">Access Deactivation</a>
                    </li>
                    <!-- <li>
                        <a href="recovery-card-blocking.html">Card Blocking</a>
                    </li> -->
                    <li>
                        <a href="recovery-installmentlist.html">Installment
                            <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">1</span>
                        </a>
                    </li>
                    <li>
                        <a href="recovery-nodbatch.html">NOD Batch</a>
                    </li>
                    <li>
                        <a href="recovery-tribunalbatch.html">Tribunal Batch</a>
                    </li>
                    <li>
                        <a href="recovery-posttribunal.html">Post-tribunal Actions</a>
                    </li>
                </ul>
            </li>
            <!-- <li>
                <a href="recovery-defaulter.html">Defaulter</a>
            </li>
            <li>
                <a href="recovery-card-blocking.html" class="ml-3">Card Blocking</a>
            </li>
            <li>
                <a href="recovery-installmentlist.html" class="ml-3">Installment
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">1</span>
                </a>
            </li>
            <li>
                <a href="recovery-nodtribunal.html" class="ml-3">Batch <small>(NOD/Tribunal)</small></a>
            </li> -->
            <li>
                <a href="accounting-latepayment.html">Late Payment Interest</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="servicing-reports.html">
            <i class="uil uil-notes"></i>
            <span class="badge badge-success float-right"></span>
            <span> Servicing Reports </span>
        </a>
    </li>

    <!-- <li>
        <a href="tasksheet-open-task.html">
            <i class="uil uil-clipboard-alt"></i>
            <span class="badge badge-success float-right"></span>
            <span> Tasks </span>
        </a>
    </li> -->

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-clipboard-alt"></i>
            
            <span>Tasks <i class="uil uil-lightbulb-alt ml-0 text-color-greenBright font-xs"></i></span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="tasksheet-pending.html">New
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">122</span>
                </a>
            </li>
            <li>
                <a href="tasksheet-open-task.html">Opened
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">13</span>
                </a>
            </li>
            <li>
                <a href="tasksheet-done.html">Done
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">4</span>
                </a>
            </li>
            <li>
                <a href="tasksheet-kiv.html">KIV
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">100</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i data-feather="check-square" class="icon-dual"></i>
            
            <span>Checklist</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="settings-building-checklist.html">Checklist Settings</a>
            </li>
            <li>
                <a href="checklist-listing.html">All Checklist
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i data-feather="box" class="icon-dual"></i>
            
            <span>Inventory</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="inventory-settings.html">Inventory Settings</a>
            </li>
            <li>
                <a href="inventory-listing.html">Inventory Listing
                </a>
            </li>
            <li>
                <a href="inventory-booking.html">Booking
                </a>
            </li>
            <!-- <li>
                <a href="inventory-scrap.html">Scrap
                </a>
            </li> -->
        </ul>
    </li>

    <!-- <li>
        <a href="checklist-daily-weekly-monthly.html">
            <i data-feather="check-square" class="icon-dual"></i>
            <span class="badge badge-success float-right"></span>
            <span>Checklist</span>
        </a>
    </li> -->
    
    <!-- <li>
        <a href="javascript: void(0);">
            <i data-feather="check-square" class="icon-dual"></i>
            <span>Checklist</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="checklist-daily-weekly-monthly.html">Daily / Weekly / Monthly</a>
            </li>
        </ul>
    </li> -->

   <li>
        <a href="javascript: void(0);">
            <i class="uil uil-usd-circle mr-0"></i>
            <span>&nbsp;&nbsp;Invoices</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <!-- <li>
                <a href="invoices-invoice-settings.html">Invoice Settings</a>
            </li> -->
            <li>
                <a href="invoices-invoice-customization.html">Customization</a>
            </li>
            <li>
                <a href="invoices-recurring-settings.html">Recurring Invoices</a>
            </li>
            <li>
                <a href="invoices-invoice.html">Invoices</a>
            </li>
            <li>
                <a href="accounting-receipts.html">Receipts</a>
            </li>
            <li>
                <a href="accounting-creditnote.html">Credit Note</a>
            </li>
            <li>
                <a href="accounting-collections.html">Collections</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="pettycash.html">
            <i class="uil uil-money-stack"></i>
            <span class="badge badge-success float-right"></span>
            <span> Petty Cash</span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="shopping-cart" class="icon-dual"></i>
            <span> Purchases <i class="uil uil-lightbulb-alt ml-0 text-color-greenBright font-xs"></i></span>
            <span class="menu-arrow"></span>
        </a>
    
        <ul class="nav-second-level" aria-expanded="false">       
            <li>
                <a href="purchases-purchase-orders.html">Purchase Orders</a>
            </li>
            <li>
                <a href="purchases-purchase-invoices.html">Purchase Invoices</a>
            </li>
            <!-- <li>
                <a href="purchases-delivery-order.html">Delivery Order</a>
            </li> -->
            <!-- <li>
                <a href="purchases-preparing-payment.html">Preparing Payment</a>
            </li> -->
            <li>
                <a href="purchases-payment-vouchers.html">Payment Vouchers</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="deposits.html">
            <i class="uil uil-money-insert"></i>
            <span class="badge badge-success float-right"></span>
            <span> Deposits </span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-calculator-alt"></i>
            <span>Accounting </span>
            <span class="menu-arrow"></span>
        </a>
    
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="accounting-reported-errors.html">Reported Errors</a>
            </li>
            <li>
                <a href="accounting-budgeting.html">Budgeting</a>
            </li>
            <li>
                <a href="accounting-journal.html">Journal</a>
            </li>
            <li>
                <a href="accounting-openingbalance.html">Opening Balance</a>
            </li>
            <li>
                <a href="accounting-transactions.html">Transactions</a>
            </li>
            <li>
                <a href="accounting-reconciliation.html">Reconciliation</a>
            </li>
            <li>
                <a href="accounting-chart-of-accounts.html">Chart of Accounts</a>
            </li>
            <li>
                <a href="javascript: void(0);" aria-expanded="false">Summary
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-third-level" aria-expanded="false">
                    <li>
                        <a href="accounting-rnp.html">R&P</a>
                    </li>
                    <li>
                        <a href="accounting-pnl.html">P&L</a>
                    </li>
                    <li>
                        <a href="accounting-balancesheet.html">Balance Sheet</a>
                    </li>
                    <li>
                        <a href="accounting-trialbalance.html">Trial Balance</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li> 

    <li>
        <a href="daily-record-book-staff-list.html">
            <i data-feather="edit-3"></i>
            <span class="badge badge-success float-right"></span>
            <span> Daily Record Book </span>
        </a>
    </li>

    <li>
        <a href="documents-ok.html">
            <i data-feather="file"></i>
            <span class="badge badge-success float-right"></span>
            <span> Documents</span>
        </a>
    </li>

    <li>
        <a href="reports.html">
            <i data-feather="file-text"></i>
            <span class="badge badge-success float-right"></span>
            <span> Reports</span>
        </a>
    </li>

    <!-- <li>
        <a href="javascript: void(0);">
            <i data-feather="file-text"></i>
            <span> Reports </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="reports-unit-summary.html">Unit Summary</a>
            </li>
            <li>
                <a href="reports-summary-collection.html">Summary Collection</a>
            </li>
            <li>
                <a href="reports-manager.html">Manager's Reports</a>
            </li>
            <li>
                <a href="reports-building-inspection.html">Building Inspection Reports</a>
            </li>
            <li>
                <a href="reports-attendance.html">Attendance Reports</a>
            </li>
            <li>
                <a href="reports-renewal-summary.html">Renewal Summary Reports</a>
            </li>
            <li>
                <a href="reports-defect.html">Defect Reports</a>
            </li>
            <li>
                <a href="reports-renovation-work.html">Renovation Work Reports</a>
            </li>
            <li>
                <a href="reports-inventory.html">Inventory Reports</a>
            </li>
            <li>
                <a href="reports-meter-reading.html">Meter Reading Reports</a>
            </li>           
        </ul>
    </li> -->
    <!-- <li>
        <a href="javascript: void(0);">
            <i class="uil uil-file"></i>
            <span> Forms </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="form-complaint.html">Complaint Form</a>
            </li>
            <li>
                <a href="form-job.html">Job Form</a>
            </li>
            <li>
                <a href="form-renovation.html">Renovation Form</a>
            </li>
            <li>
                <a href="form-meeting-attendance.html">Meeting Attendance Form</a>
            </li>
            <li>
                <a href="form-inventory-list.html">Inventory List Form</a>
            </li>
            <li>
                <a href="form-building-inspection-checklist.html">Building Inspection Checklist</a>
            </li>
            <li>
                <a href="form-staff-attendance.html">Staff Attendance Form</a>
            </li>
            <li>
                <a href="form-training-checklist.html">Training Checklist</a>
            </li>
            <li>
                <a href="form-monthly-meeting-notice.html">Monthly Meeting Notice Form</a>
            </li>
            <li>
                <a href="form-agm-notice.html">AGM Notice</a>
            </li>
            <li>
                <a href="form-agm-agenda.html">AGM Agenda</a>
            </li>
            <li>
                <a href="form-agm-proxy.html">AGM Proxy Form</a>
            </li>
            <li>
                <a href="form-nomination.html">AGM Nomination Form</a>
            </li>
            <li>
                <a href="form-buysellrent-for-owner.html">Buy / Sell / Rent Form for Owner</a>
            </li>
        </ul>
    </li> -->

    <br><br>

    <li class="menu-title">Security</li>
    <li>
        <a href="security-index.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>
    
    <br><br>

    <li class="menu-title">Occupant</li>
    <li>
        <a href="occupant-index.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>
    <!-- <li>
        <a href="occupant-visitor.html">
            <i class="uil uil-user-square"></i>
            <span class="badge badge-success float-right"></span>
            <span> Visitor </span>
        </a>
    </li> -->

    <br><br>

    <li class="menu-title">Vendor</li>
    <li>
        <a href="vendor-index.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>
    <!-- <li>
        <a href="vendor_purchases-purchase-orders.html">
            <i class="uil uil-cart"></i>
            <span class="badge badge-success float-right"></span>
            <span> Purchase Orders </span>
        </a>
    </li>
    <li>
        <a href="vendor_invoices.html">
            <i class="uil uil-usd-circle"></i>
            <span class="badge badge-success float-right"></span>
            <span> Invoices </span>
        </a>
    </li>
    <li>
        <a href="vendor-payment.html">
            <i class="uil uil-money-withdraw"></i>
            <span class="badge badge-success float-right"></span>
            <span> Payment </span>
        </a>
    </li>
    <li>
        <a href="vendor-statements.html">
            <i class="uil uil-file-landscape-alt"></i>
            <span class="badge badge-success float-right"></span>
            <span> Statements </span>
        </a>
    </li>
    <li>
        <a href="vendor-mails.html">
            <i class="uil uil-envelope"></i>
            <span class="badge badge-success float-right"></span>
            <span> Mails </span>
        </a>
    </li> -->
    
    <br><br>
  
    <!-- <li class="menu-title">Building Supervisor</li>
    <li>
        <a href="building-supervisor-dashboard.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>
    <li>
        <a href="admin-announcement.html">
            <i data-feather="mic"></i>
            <span class="badge badge-success float-right"></span>
            <span>Announcements</span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="folder" class="icon-dual"></i>
            <span>Data </span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="data-occupants.html">Occupants</a>
            </li>
            <li>
                <a href="data-units.html">Units</a>
            </li>
            <li>
                <a href="data-vehicles.html">Vehicles</a>
            </li>
            <li>
                <a href="data-accessory-parcel.html">Accessory Parcel</a>
            </li>
            <li>
                <a href="data-committee-committee-list.html">Committees</a>
            </li>
            <li>
                <a href="data-committee-meetings.html">Meetings</a>
            </li>
            <li>
                <a href="data-utility.html">Utility</a>
            </li>
            <li>
                <a href="data-house-rule.html">House Rule</a>
            </li>
            <li>
                <a href="data-service-providers.html">Vendors</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-sync mr-0"></i>
            <span>&nbsp;&nbsp;Recovery</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="billings-notices-reminders.html">Reminder Settings</a>
            </li>
            <li>
                <a href="recovery-debtorlist.html">Debtor Listing</a>
            </li>
            <li>
                <a href="recovery-installmentlist.html">Installment Listing</a>
            </li>
        </ul>
    </li> -->
    
    <!-- <li>
        <a href="tasksheet-task-new.html">
            <i data-feather="plus"></i>
            <span class="badge badge-success float-right"></span>
            <span> Add Ticket / Task </span>
        </a>
    </li> -->

    <!-- <li>
        <a href="javascript: void(0);">
            <i class="uil uil-clipboard-alt mr-0"></i>
            
            <span>&nbsp;&nbsp;Tasks <i class="uil uil-lightbulb-alt ml-0 text-color-greenBright font-xs"></i></span>
            <i class="uil-check-circle text-success float-right mr-4 mt-1"></i>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="tasksheet-pending.html">New
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">122</span>
                </a>
            </li>
            <li>
                <a href="tasksheet-open-task.html">Opened
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">13</span>
                </a>
            </li>
        </ul>
    </li>
    
    <li>
        <a href="checklist-daily-weekly-monthly.html">
            <i data-feather="check-square" class="icon-dual"></i>
            <span class="badge badge-success float-right"></span>
            <span>Checklist</span>
        </a>
    </li> -->
    <!-- <li>
        <a href="javascript: void(0);">
            <i data-feather="check-square" class="icon-dual"></i>
            <span>Checklist</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="checklist-daily.html">Daily</a>
            </li>
            <li>
                <a href="checklist-weekly.html">Weekly</a>
            </li>
            <li>
                <a href="checklist-monthly.html">Monthly</a>
            </li>
        </ul>
    </li> -->

    <!-- <li>
        <a href="calendar.html">
            <i class="uil uil-calender"></i>
            <span class="badge badge-success float-right"></span>
            <span> Calendar </span>
        </a>
    </li>

    <br><br>

    <li class="menu-title">Admin</li>
    <li>
        <a href="admin-dashboard.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>
    <li>
        <a href="admin-announcement.html">
            <i data-feather="bell"></i>
            <span class="badge badge-success float-right"></span>
            <span>Announcements</span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="folder" class="icon-dual"></i>
            <span>Data </span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="data-occupants.html">Occupants</a>
            </li>
            <li>
                <a href="data-units.html">Units</a>
            </li>
            <li>
                <a href="data-vehicles.html">Vehicles</a>
            </li>
            <li>
                <a href="data-accessory-parcel.html">Accessory Parcel</a>
            </li>
            <li>
                <a href="data-committee-committee-list.html">Committees</a>
            </li>
            <li>
                <a href="data-committee-meetings.html">Meetings</a>
            </li>
            <li>
                <a href="data-utility.html">Utility</a>
            </li>
            <li>
                <a href="data-house-rule.html">House Rule</a>
            </li>
            <li>
                <a href="data-service-providers.html">Vendors</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-sync mr-0"></i>
            <span>&nbsp;&nbsp;Recovery</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="billings-notices-reminders.html">Reminder Settings</a>
            </li>
            <li>
                <a href="recovery-debtorlist.html">Debtor Listing</a>
            </li>
            <li>
                <a href="recovery-installmentlist.html">Installment Listing</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-clipboard-alt mr-0"></i>
            
            <span>&nbsp;&nbsp;Tasks <i class="uil uil-lightbulb-alt ml-0 text-color-greenBright font-xs"></i></span>
            <i class="uil-check-circle text-success float-right mr-4 mt-1"></i>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="tasksheet-pending.html">New
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">122</span>
                </a>
            </li>
            <li>
                <a href="tasksheet-open-task.html">Opened
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">13</span>
                </a>
            </li>
        </ul>
    </li>
    
    <li>
        <a href="calendar.html">
            <i class="uil uil-calender"></i>
            <span class="badge badge-success float-right"></span>
            <span> Calendar </span>
        </a>
    </li>

    <br><br> -->

    <!--
    <li class="menu-title">Staff</li>
    <li>
        <a href="staff-dashboard.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-clipboard-alt mr-0"></i>
            
            <span>&nbsp;&nbsp;Tasks <i class="uil uil-lightbulb-alt ml-0 text-color-greenBright font-xs"></i></span>
            <i class="uil-check-circle text-success float-right mr-4 mt-1"></i>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="staff-tasksheet-pending.html">New
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">122</span>
                </a>
            </li>
            <li>
                <a href="my-tasks.html">Opened
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">13</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="my-tasks.html">
            <i data-feather="clipboard"></i>
            <span class="badge badge-success float-right"></span>
            <span> My Tasks </span>
        </a>
    </li>
    <li>
        <a href="staff-tasksheet-pending.html">
            <i class="uil uil-clipboard-alt"></i>
            <span class="badge badge-success float-right"></span>
            <span>Pending Tasks </span>
        </a>
    </li>
     <li>
        <a href="javascript: void(0);">
            <i class="uil uil-clipboard-alt mr-0"></i>
            
            <span>&nbsp;&nbsp;Tasks <i class="uil uil-lightbulb-alt ml-0 text-color-greenBright font-xs"></i></span>
            <i class="uil-check-circle text-success float-right mr-4 mt-1"></i>
            <span class="menu-arrow"></span>
        </a>

        

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="tasksheet-pending.html">New
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">122</span>
                </a>
            </li>
            <li>
                <a href="tasksheet-open-task.html">Opened
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">13</span>
                </a>
            </li>
            <li>
                <a href="#">KIV</a>
                <a href="tasksheet-kiv.html">KIV</a>
            </li>
            <li>
                <a href="tasksheet-done.html">Done</a>
            </li>
        </ul>
    </li> 

     <li>
        <a href="javascript: void(0);">
            <i data-feather="check-square" class="icon-dual"></i>
            <span>Checklist</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="checklist-daily.html">Daily</a>
            </li>
            <li>
                <a href="checklist-weekly.html">Weekly</a>
            </li>
            <li>
                <a href="checklist-monthly.html">Monthly</a>
            </li>
        </ul>
    </li>
    
    <li>
        <a href="calendar.html">
            <i class="uil uil-calender"></i>
            <span class="badge badge-success float-right"></span>
            <span> Calendar </span>
        </a>
    </li>
    <li>
        <a href="calendar-daily-record-book.html">
            <i data-feather="edit-3"></i>
            <span class="badge badge-success float-right"></span>
            <span> Daily Record Book </span>
        </a>
    </li>

    <br><br> -->

    <!-- <li class="menu-title">Committee</li>
    <li>
        <a href="committee-dashboard.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
        <a href="committee-meetings.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Meetings </span>
        </a>
    </li> -->
    
</ul>