<ul class="metismenu" id="menu-bar">
    <li>
        <a href="index-finance.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="folder" class="icon-dual"></i>
            <span>Data </span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="import-data-finance.html">Import Info</a>
            </li>
            <li>
                <a href="data-occupants-finance.html">Occupants</a>
            </li>
            <li>
                <a href="data-units-finance.html">Units</a>
            </li>
            <li>
                <a href="data-vehicles-finance.html">Vehicles</a>
            </li>
            <!-- <li>
                <a href="data-accessory-parcel-finance.html">Accessory Parcel</a>
            </li> -->
            <li>
                <a href="data-committee-committee-list-finance.html">Committees</a>
            </li>
            <li>
                <a href="data-committee-meetings-finance.html">Meetings</a>
            </li>
            <li>
                <a href="data-utility-finance.html">Utility <i class='uil uil-exclamation-octagon text-color-redBright'></i></a>
            </li>
            <li>
                <a href="data-house-rule-finance.html">House Rule</a>
            </li>
            <li>
                <a href="data-service-providers-finance.html">Vendors</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-sync"></i>
            <span>Recovery <i class="uil uil-lightbulb-alt ml-0 text-color-greenBright font-xs"></i></span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="invoices-recovery-settings-finance.html">Recovery Settings</a>
            </li>
            <li>
                <a href="invoices-notices-reminders-finance.html">Reminder Settings</a>
            </li>
            <li>
                <a href="recovery-defaulter-finance.html">Defaulter</a>
            </li>
            <li>
                <a href="recovery-card-blocking-finance.html" class="ml-3">Card Blocking</a>
            </li>
            <li>
                <a href="recovery-installmentlist-finance.html" class="ml-3">Installment
                    <span class="badge badge-success float-right mr-2 font-xs paddingtop-4">1</span>
                </a>
            </li>
            <li>
                <a href="recovery-nodtribunal-finance.html" class="ml-3">Batch <small>(NOD/Tribunal)</small></a>
            </li>
            <li>
                <a href="accounting-latepayment-finance.html">Late Payment Interest</a>
            </li>
        </ul>
    </li>
   <li>
        <a href="javascript: void(0);">
            <i class="uil uil-usd-circle mr-0"></i>
            <span>&nbsp;&nbsp;Invoices</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <!-- <li>
                <a href="invoices-invoice-settings-finance.html">Invoice Settings</a>
            </li> -->
            <li>
                <a href="invoices-invoice-customization-finance.html">Invoice Customization</a>
            </li>
            <li>
                <a href="invoices-recurring-settings-finance.html">Recurring Invoices</a>
            </li>
            <li>
                <a href="invoices-invoice-finance.html">Invoices</a>
            </li>
            <li>
                <a href="accounting-receipts-finance.html">Receipts</a>
            </li>
            <li>
                <a href="accounting-creditnote-finance.html">Credit Note</a>
            </li>
            <!-- <li>
                <a href="invoices-receipt-to-owner-finance.html">Receipt to Owner</a>
            </li> 
            <li>
                <a href="invoices-owners-residents-finance.html">Owners / Residents</a>
            </li>
            <li>
                <a href="invoices-products-services-finance.html">Product & Services</a>
            </li>-->
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="shopping-cart" class="icon-dual"></i>
            <span> Purchases </span>
            <span class="menu-arrow"></span>
        </a>
    
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="purchases-purchase-orders-finance.html">Purchase Orders</a>
            </li>
            <!-- <li>
                <a href="purchases-purchase-invoices-finance.html">Purchase Invoices</a>
            </li>
            <li>
                <a href="purchases-delivery-order-finance.html">Delivery Order</a>
            </li> -->
            <!-- <li>
                <a href="purchases-preparing-payment-finance.html">Preparing Payment</a>
            </li> -->
            <li>
                <a href="purchases-payment-vouchers-finance.html">Payment Vouchers</a>
            </li>
            <!--<li>
                <a href="purchases-vendors-finance.html">Vendors</a>
            </li>
             <li>
                <a href="purchases-products-services-finance.html">Products & Services</a>
            </li>
            <li>
                <a href="purchases-petty-cash-finance.html">Petty Cash</a>
            </li> -->
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-calculator-alt"></i>
            <span>Accounting </span>
            <span class="menu-arrow"></span>
        </a>
    
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="accounting-reported-errors-finance.html">Reported Errors</a>
            </li>
            <!-- <li>
                <a href="accounting-payments.html">Payments</a>
            </li> -->
            <li>
                <a href="accounting-chart-of-accounts-finance.html">Chart of Accounts</a>
            </li>
            <!-- <li>
                <a href="accounting-transactions-finance.html">Transactions</a>
            </li>
            <li>
                <a href="accounting-reconcilations-finance.html">Reconcilations</a>
            </li>
            <li>
                <a href="accounting-inventory-list-finance.html">Inventory List</a>
            </li>
            <li>
                <a href="accounting-vendor-statements-finance.html">Vendor's Statements</a>
            </li>
            <li>
                <a href="accounting-owner-statements-finance.html">Owner's Statements</a>
            </li> -->
        </ul>
    </li>
    
</ul>