<ul class="metismenu" id="menu-bar">
    <!-- <li class="menu-title">Vendor</li> -->
    <li>
        <a href="security-index.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span> Dashboard </span>
        </a>
    </li>
    <li>
        <a href="security-occupant.html">
            <i class="uil uil-location"></i>
            <span class="badge badge-success float-right"></span>
            <span> Occupant </span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-users-alt"></i>
            
            <span>Visitor</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="security-visitor-listing.html">Visitor (Vehicle)
                </a>
            </li>
            <li>
                <a href="security-visitor-pedestrian.html">Visitor (Pedestrian)
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-focus"></i>
            <span>Access</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="security-access.html">Access Listing</a>
            </li>
            <li>
                <a href="security-access-lpr.html">Entry Log</a>
            </li>
            <li>
                <a href="security-car-parking.html">Car Parking</a>
            </li>
            <li>
                <a href="security-access-face-rec.html">Face Recognition</a>
            </li>
        </ul>
    </li>
    <!-- <li>
        <a href="security-access-lpr.html">
            <i data-feather="crosshair"></i>
            <span class="badge badge-success float-right"></span>
            <span>Licence Plate Rec.</span>
        </a>
    </li>
    <li>
        <a href="security-access-face-rec.html">
            <i class="uil uil-capture"></i>
            <span class="badge badge-success float-right"></span>
            <span>Face Rec.</span>
        </a>
    </li>
    <li>
        <a href="security-access.html">
            <i class="uil uil-lock-access"></i>
            <span class="badge badge-success float-right"></span>
            <span>Access Status</span>
        </a>
    </li> -->
    <li>
        <a href="security-vehicles.html">
            <i class="uil uil-bus"></i>
            <span class="badge badge-success float-right"></span>
            <span> Vehicles </span>
        </a>
    </li>
    <li>
        <a href="security-facility.html">
            <i class="uil uil-ball"></i>
            <span> Facility </span>
        </a>
    </li>
    <li>
        <a href="security-staff-list.html">
            <i class="uil uil-user-circle"></i>
            <span class="badge badge-success float-right"></span>
            <span> Staff </span>
        </a>
    </li>
</ul>