<ul class="metismenu" id="menu-bar">
    <!-- <li class="menu-title">Occupant</li> -->
    <li>
        <a href="occupant-index.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="occupant-notices.html">
            <i data-feather="mic"></i>
            <span class="badge badge-success float-right"></span>
            <span>Notices</span>
        </a>
    </li> 
    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-home"></i>
            <span>My Unit</span>
            <span class="menu-arrow"></span>
        </a>
    
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="occupant-unit.html">Unit Info</a>
            </li>
            <li>
                <a href="occupant-ownership.html">Ownership</a>
            </li>
            <li>
                <a href="occupant-occupants.html">Occupants</a>
            </li>
            <li>
                <a href="occupant-access.html">Access</a>
            </li>
            <li>
                <a href="occupant-vehicles.html">Vehicles</a>
            </li>
            <li>
                <a href="occupant-accessoryparcel.html">Accessory Parcels</a>
            </li>
            <!-- <li>
                <a href="javascript: void(0);" aria-expanded="false">Finances
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-third-level" aria-expanded="false">
                    <li>
                        <a href="occupant-invoice.html">Invoice</a>
                    </li>
                    <li>
                        <a href="occupant-payment.html">Payment</a>
                    </li>
                    <li>
                        <a href="occupant-creditnote.html">Credit Note</a>
                    </li>
                    <li>
                        <a href="occupant-soa.html">SOA</a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-usd-circle"></i>
            
            <span>Finance</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="occupant-invoice.html">Invoice</a>
            </li>
            <li>
                <a href="occupant-payment.html">Payment</a>
            </li>
            <li>
                <a href="occupant-creditnote.html">Credit Note</a>
            </li>
            <li>
                <a href="occupant-soa.html">Statement</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-cog"></i>
            <span>Services</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="occupant-facility.html">Facility</a>
            </li>
            <li>
                <a href="occupant-rent-parking.html">Rental Parking</a>
            </li>
            <li>
                <a href="occupant-maintenance.html">Maintenance</a>
            </li>
            <li>
                <a href="occupant-renovation.html">Renovation</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="occupant-visitor.html">
            <i class="uil uil-car-sideview"></i>
            <span class="badge badge-success float-right"></span>
            <span>Visitor</span>
        </a>
    </li> 
    <!-- <li>
        <a href="occupant-facility.html">
            <i class="uil uil-ball"></i>
            <span>Facility</span>
        </a>
    </li>
    <li>
        <a href="occupant-rent-parking.html">
            <i class="uil uil-car"></i>
            <span class="badge badge-success float-right"></span>
            <span>Rental Parking</span>
        </a>
    </li> -->
    <!-- <li>
        <a href="occupant-renovation.html">
            <i class="uil uil-paint-tool"></i>
            <span class="badge badge-success float-right"></span>
            <span>Renovation</span>
        </a>
    </li> -->
    <!-- <li>
        <a href="occupant-maintenance.html">
            <i class="uil uil-clipboard-alt"></i>
            <span class="badge badge-success float-right"></span>
            <span>Maintenance</span>
        </a>
    </li>-->
    <li>
        <a href="occupant-vendor.html">
            <i class="uil uil-store"></i>
            <span class="badge badge-success float-right"></span>
            <span>Vendors</span>
        </a>
    </li>
    <li>
        <a href="occupant-document.html">
            <i data-feather="file"></i>
            <span class="badge badge-success float-right"></span>
            <span>Documents</span>
        </a>
    </li>
    
</ul>