<ul class="metismenu" id="menu-bar">
    <!-- <li class="menu-title">Occupant</li> -->
    <li>
        <a href="occupant-index.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right"></span>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="occupant-notices.html">
            <i data-feather="mic"></i>
            <span class="badge badge-success float-right"></span>
            <span>Notices</span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i class="uil uil-money-insert"></i>
            
            <span>Payment</span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="occupant-invoices.html">Invoices</a>
            </li>
            <li>
                <a href="occupant-payment.html">Payment
                </a>
            </li>
            <li>
                <a href="occupant-creditnote.html">Credit Note
                </a>
            </li>
        </ul>
        <!-- <a href="occupant-invoices.html">
            <i class="uil uil-bill"></i>
            <span class="badge badge-success float-right"></span>
            <span> Invoice </span>
        </a> -->
    </li>
    <!-- <li>
        <a href="occupant-payment.html">
            <i class="uil uil-money-insert"></i>
            <span class="badge badge-success float-right"></span>
            <span> Payment </span>
        </a>
    </li> -->
    <li>
        <a href="occupant-visitor.html">
            <i class="uil uil-car-sideview"></i>
            <span class="badge badge-success float-right"></span>
            <span>Visitor</span>
        </a>
    </li>
    <li>
        <a href="occupant-facility.html">
            <i class="uil uil-ball"></i>
            <span>Facility</span>
        </a>
    </li>
    <li>
        <a href="occupant-rent-parking.html">
            <i class="uil uil-car"></i>
            <span class="badge badge-success float-right"></span>
            <span>Rental Parking</span>
        </a>
    </li>
    <li>
        <a href="occupant-issuecomplain.html">
            <i class="uil uil-clipboard-alt"></i>
            <span class="badge badge-success float-right"></span>
            <span>Issue & Complain</span>
        </a>
    </li>
    <li>
        <a href="occupant-vehicles.html">
            <i class="uil uil-bus"></i>
            <span class="badge badge-success float-right"></span>
            <span>Vehicles</span>
        </a>
    </li>
    <li>
        <a href="occupant-access.html">
            <i class="uil uil-lock-access"></i>
            <span class="badge badge-success float-right"></span>
            <span> Access</span>
        </a>
    </li>
    <li>
        <a href="occupant-renovation.html">
            <i class="uil uil-paint-tool"></i>
            <span class="badge badge-success float-right"></span>
            <span>Renovation</span>
        </a>
    </li>
    <li>
        <a href="occupant-vendor.html">
            <i class="uil uil-store"></i>
            <span class="badge badge-success float-right"></span>
            <span>Vendors</span>
        </a>
    </li>
    
</ul>