<!-- Right Sidebar -->
<div class="right-bar">
    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i data-feather="x-circle"></i>
        </a>
        <h5 class="m-0">Building Management</h5>
    </div>
    
    <div class="slimscroll-menu">
    
        <h5 class="font-size-16 pl-3 mt-2 slideout">
            <div class="caption">3 Resident - Penang, Malaysia</div>
            <img src="assets/images/condo/3residence.jpg" class="img-fluid condo">
            
        </h5>
        <div class="p-3">
            <h6>Managed By</h6>
            <a href="#">EAD Property Management</a>
        </div>
        <div class="px-3 py-1">
            <h6>Building Supervisor</h6>
            Muhammad Sabir<br>
            <a href="tel:123-456-7890">018-940 1608</a><br>
            <a href="mailto:">email@email.com</a><br>

        </div>
        <div class="px-3 py-1">
            <h6>Building Manager</h6>
            Lee Soon Hoe<br>
            <a href="tel:123-456-7890">018-940 1608</a><br>
            <a href="mailto:">email@email.com</a><br>
        </div>
        <div class="px-3 py-4">
            <h6>Management Office Contact</h6>
            Level 1 Management Office<br>
            Persiaran Paya Terubong 4<br>
            11900 Bayan Lepas, Penang, Malaysia
            <br><br>
            <i class="uil-phone mr-1"></i>04-3702065 / 018-2460677<br>
            <i class="uil-newspaper mr-1"></i>N/A<br>
            <i class="uil-envelope mr-1"></i>3resident@email.com
        </div>
    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>