<!-- Right Sidebar -->
<div class="right-bar">
    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i data-feather="x-circle"></i>
        </a>
        <h5 class="m-0">Building Management</h5>
    </div>
    
    <div class="slimscroll-menu">
    
        <h5 class="font-size-16 pl-3 mt-2 slideout">
            <div class="caption">3 Resident - Penang, Malaysia</div>
            <img src="assets/images/condo/3residence.jpg" class="img-fluid condo">
            
        </h5>
        <div class="pt-2 pb-2 pl-3 pr-3 border-bottom-gray300">
            <h6 class="mb-0">Managed By</h6>
            <a href="#">EAD Property Management</a>
        </div>
        <div class="px-3 py-2 border-bottom-gray300">
            <h6 class="mb-0">Management Office</h6>
            3 Resident<br>
            Level 1, Management Office<br>
            Jalan 3 Resident,<br>
            11900 Bayan Lepas, Penang, Malaysia
            <br>
            <i class="uil-phone mr-1"></i>04-3702065 / 018-2460677<br>
            <i class="uil-newspaper mr-1"></i>04-3702064<br>
            <i class="uil-envelope mr-1"></i>email@3resident.com<br>
            <i class="uil-globe mr-1"></i>www.3resident.com
        </div>
        <div class="px-3 py-2 border-bottom-gray300">
            <h6 class="mb-0">Operation Hours</h6>
            <span class="badge badge-soft-primary">Mon to Fri</span><br>
            7:00am - 12:00pm,<br>
            1:00pm - 6:00pm<br>
            <span class="badge badge-soft-primary">Sat & Sun</span><br>
            9:00am - 12:00pm,<br>
            1:00pm - 6:00pm<br>
            
            <small>(Close on public holiday)</small><br>
            
            <!-- <i>Note to developer: below line will appear if Special holiday is set.</i>
            <div class="text-danger mt-2">We are close today in conjunction with special holiday.</div> -->
        </div>
        <div class="px-3 py-2 border-bottom-gray300">
            <h6 class="mb-0">Bank Account <small>(Maintenance)</small></h6>
            AmBank<br>784949289570<br>
            Holder Name 1
        </div>
        <div class="px-3 py-2 border-bottom-gray300">
            <h6 class="mb-0">Building Manager <a href="site-mgnteam-edit.html" class="btn btn-primary btn-sm btn-rounded float-right">Edit</a></h6>
            Lee Soon Hoe<br>
            <a href="tel:123-456-7890">018-940 1608</a><br>
            <a href="mailto:">email@email.com</a><br>
        </div>
        <div class="px-3 py-2 border-bottom-gray300">
            <h6 class="mb-0">Building Supervisor</h6>
            Muhammad Sabir<br>
            <a href="tel:123-456-7890">018-940 1608</a><br>
            <a href="mailto:">email@email.com</a><br>
        </div>
        <div class="px-3 py-3">
            <br>
        </div>
    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>