<!-- Topbar Start -->
<div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
    <div class="container-fluid">
        <!-- LOGO -->
        <a href="occupant-property.html" class="navbar-brand mr-0 mr-md-2 logo">
            <span class="logo-lg">
                <img src="assets/images/logo_pg.png" alt="" height="30" />
                <!-- <span class="d-inline h5 ml-1 text-logo">Property Gaga</span> -->
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo.png" alt="" height="24">
            </span>
        </a>

        <ul class="navbar-nav bd-navbar-nav flex-row list-unstyled menu-left mb-0">
            <li class="">
                <button class="button-menu-mobile open-left">
                    <i data-feather="menu" class="menu-icon"></i>
                    <i data-feather="x" class="close-icon"></i>
                </button>
            </li>
        </ul>
        <ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-left mb-0 propertyname-header">3 Resident</ul>
        <form class="form-inline float-sm-right mt-sm-0 ml-2">
            <div class="btn-group">
                <button type="button" class="btn btn-light btn-rounded dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="icon"><span data-feather="chevron-down"></span></i></button>
                <div class="dropdown-menu pre-scrollable dropdown-menu-right">
                    <a href="occupant-property.html" class="dropdown-item notify-item">
                        <span>All Sites</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>3 Resident</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Mori Residence</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Emerald Residence</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Urban</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>3 Resident</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Mori Residence</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Emerald Residence</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Urban</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Urban</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>3 Resident</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Mori Residence</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Emerald Residence</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Urban</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Urban</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>3 Resident</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Mori Residence</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Emerald Residence</span>
                    </a>
                    <a href="occupant-index.html" class="dropdown-item notify-item">
                        <span>Urban</span>
                    </a>
                </div>
            </div>
        </form>

        <ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0">
            <li class="d-none d-sm-block">
                <div class="app-search">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span data-feather="search"></span>
                        </div>
                    </form>
                </div>
            </li>

            <li class="dropdown notification-list" data-toggle="tooltip" data-placement="left" title="Building Management">
                <a href="javascript:void(0);" class="nav-link right-bar-toggle">
                    <i class="uil uil-building mr-1"></i>
                </a>
            </li>

        </ul>
    </div>

</div>
<!-- end Topbar -->