<!-- Topbar Start -->
<div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
    <div class="container-fluid">
        
        <ul class="navbar-nav flex-row d-flex list-unstyled topnav-menu float-left mb-0 propertyname-header">3 Resident</ul>

        <ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0">
            <li class="d-sm-block">
                <!-- <a href="tel:5554220940" data-toggle="tooltip" data-placement="left" title="Contact Management Office">
                    <div class="avatar-sm rounded-circle bg-soft-primary mr-4">
                        <i class="uil-phone font-size-20 avatar-title text-primary"></i>
                    </div>
                </a> -->
                <!-- <div class="app-search">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span data-feather="search"></span>
                        </div>
                    </form>
                </div> -->
            </li>

            <li class="dropdown notification-list" data-toggle="tooltip" data-placement="left" title="Building Management">
                <a href="javascript:void(0);" class="nav-link right-bar-toggle">
                    <i class="uil uil-building mr-1"></i>
                </a>
            </li>
        </ul>
    </div>

</div>
<!-- end Topbar -->