<!-- Topbar Start -->
<div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
    <div class="container-fluid">
        <!-- LOGO -->
        <a href="sites.html" class="navbar-brand mr-0 mr-md-2 logo">
            <span class="logo-lg">
                <img src="assets/images/logo_main.png" alt="" height="40" />
                <!-- <span class="d-inline h5 ml-1 text-logo">Property Gaga</span> -->
            </span>
            <span class="logo-sm">
                <img src="assets/images/logo.png" alt="" height="24">
            </span>
        </a>

        <ul class="navbar-nav bd-navbar-nav flex-row list-unstyled menu-left mb-0">
            <li class="">
                <button class="button-menu-mobile open-left">
                    <i data-feather="menu" class="menu-icon"></i>
                    <i data-feather="x" class="close-icon"></i>
                </button>
            </li>
        </ul>
        
        <ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0">
            <li class="d-sm-block">
                
                <div class="app-search">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span data-feather="search"></span>
                        </div>
                    </form>
                </div>
            </li>

            <li class="dropdown notification-list" data-toggle="tooltip" data-placement="left"
                title="8 new unread notifications">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                    aria-expanded="false">
                    <i data-feather="bell"></i>
                    <span class="noti-icon-badge"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-xl">

                    <!-- item-->
                    <div class="dropdown-item noti-title border-bottom">
                        <h5 class="m-0 font-size-16">
                            Notification <small></small>
                        </h5>
                    </div>

                    <div class="slimscroll noti-scroll">

                        <!-- item-->
                        <a href="blacklist-site-edit-verify.html"  class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-dark"><i data-feather="user-x" class="icon-dual text-color-white icon-xs"></i></div>
                            <p class="notify-details">Site 1 is blacklisted <small class="text-muted">Site 1 <b class="text-color-orangeDark">blacklisted</b> by Derick, click to verify<br>(NOTE to developer: this only apply to<br>HR / person in charge of blacklist verification)
                                <br>1 min ago</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="tasksheet-open-task-edit-new-task.html#endwork" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details">Task - Water ponding on facility floor <small class="text-muted"><b class="text-color-orangeDark">End Work</b> updated, commented by [building manager] jlsjdjjhfhlll lsgljl  ljfgdjlfdjh ljagds;lj aldsjg; adsj testing
                                <br>4 May 2024, 2:00pm</small></p>
                        </a>

                        <!-- item-->
                        <a href="tasksheet-open-task-edit-new-task.html#endwork" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details">Task - Water ponding on facility floor <small class="text-muted"><b class="text-color-orangeDark">End Work</b> updated, job done by Company 1
                                <br>4 May 2024, 1:00pm</small></p>
                        </a>

                        <!-- item-->
                        <a href="tasksheet-open-task-edit-new-task.html#startworktask" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details">Task - Water ponding on facility floor <small class="text-muted"><b class="text-color-orangeDark">Start Work</b> updated by Sam
                                <br>3 May 2024, 10:00am</small></p>
                        </a>

                        <!-- item-->
                        <a href="tasksheet-open-task-edit-new-task.html#quotation-voting" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details mb-0">Task - Water ponding on facility floor <small class="text-muted"><b class="text-color-orangeDark">awarded</b> to Company 1
                                <br>2 May 2024, 5:00pm</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="tasksheet-open-task-edit-new-task.html#quotation-voting" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details mb-0">Task - Water ponding on facility floor <small class="text-muted"><b class="text-color-orangeDark">Voting</b> started
                                <br>2 May 2024, 5:00pm</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="tasksheet-open-task-edit-new-task.html#quotation-voting" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details mb-0">Task - Water ponding on facility floor <small class="text-muted"><b class="text-color-orangeDark">Quotation</b> uploaded by Company 2
                                <br>2 May 2024, 3:00pm</small>
                            </p>
                        </a>
                        
                        <!-- item-->
                        <a href="tasksheet-open-task-edit-new-task.html#acceptedtask" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details">Task - Water ponding on facility floor <small class="text-muted">New <b class="text-color-orangeDark">activity</b> commented by Sam
                                <br>2 May 2024, 1:00pm</small></p>
                        </a>

                        <!-- item-->
                        <a href="tasksheet-open-task-edit-new-task.html#acceptedtask" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details">Task - Water ponding on facility floor <small class="text-muted"><b class="text-color-orangeDark">accepted</b> by Tan Cheng Cheng
                                <br>1 May 2024, 1:00pm</small></p>
                        </a>

                        <!-- item-->
                        <a href="tasksheet-kiv-edit.html" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details">Task - Roof tiles crack <small class="text-muted">moved to <b class="text-color-orangeDark">KIV</b> by Sean
                                <br>1 May 2024, 1:00pm</small></p>
                        </a>

                        <!-- item-->
                        <a href="tasksheet-task-edit.html" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i class="uil uil-clipboard-alt"></i></div>
                            <p class="notify-details">New task - Water ponding on facility floor <small class="text-muted"><b class="text-color-orangeDark">submitted</b> by Sean
                                <br>30 Apr 2024, 1:00pm</small></p>
                        </a>

                        <!-- item-->
                        <a href="checklist-listing.html" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i data-feather="check-square" class="icon-dual text-color-white icon-xs"></i></div>
                            <p class="notify-details">Checklist - Toilet 1  <small class="text-muted"><b class="text-color-orangeDark">checked</b> by Jane
                                <br>28 Apr 2024, 1:00pm</small></p>
                        </a>

                        <!-- item-->
                        <a href="checklist-listing.html" class="dropdown-item notify-item border-bottom">
                            <div class="notify-icon bg-primary"><i data-feather="check-square" class="icon-dual text-color-white icon-xs"></i></div>
                            <p class="notify-details">Checklist - Car Park A is overdue <small class="text-muted"><b class="text-color-orangeDark">to check</b> by Jane
                                <br>28 Apr 2024, 1:00pm</small></p>
                        </a>
                    </div>

                    <!-- All-->
                    <a href="notification-list.html"
                        class="dropdown-item text-center text-primary notify-item notify-all border-top">
                        View all
                        <i class="fi-arrow-right"></i>
                    </a>

                </div>
            </li>
        </ul>
    </div>

</div>
<!-- end Topbar -->